

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: #393a39;
    letter-spacing: 0.5px;
}

.fixed{
    position: fixed;
}



.hidden{
    visibility: hidden;
}

.container,
.logo,
.display{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    /* background-color: #eed1d1; */
}

.about-me .read-more,
.logo p,
.contact > p, 
.contact a{
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
    color: #393a39;
}

.about-me .read-more{
    color: #911010;
}
.contact a:hover,
.contact p:hover{
    text-decoration: underline;
    color: #911010;
}

.about-me{
    background-color: #fab2b2;
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

.about-me .about-me-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./img/me_vneck.jpg);
    background-size: cover;
    border: 2px solid #eed1d1;
    box-shadow: 3px  4px 4px 1px #393a39;
}

.about-me .name{
    font-weight: bold;
    font-size: 2em;
}

.about-me .role{
    font-size: 1.5em;
    padding: 5px 0;
}

.about-me .short-note{
    padding: 20px 150px;
    font-size: 17px;
    line-height: 27px;
}

.about-me .btn{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    background-color: #911010;
    color: #eed1d1;
    border-radius: 4px;
    transition: all .2s;
}

.about-me .btn:hover{
    transform: scale(1.05);
    padding: 5 15px;
}
.blur{
    filter: blur(20px);
}
.show{
    background-color: #911010;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    margin-top: 0;
}